<div
    class="w-100 d-flex flex-column align-items-center justify-content-between p-3"
    style="height: 100vh"
>
    <div class="d-flex flex-column align-items-center justify-content-center">
        <h1>Wordle</h1>
        <p>Guess the word in 6 tries.</p>
        <p>Each guess must be a valid 5-letter word.</p>
        <p>
            After each guess, the color of the tiles will change to show how
            close your guess was to the word.
        </p>
    </div>

    @if (solution()) {
    <app-grid
        [solution]="solution()"
        [guesses]="guesses()"
        [numberOfLetters]="NUMBER_OF_LETTERS"
    ></app-grid>
    }

    <div>
        <h3>How to Play</h3>
        <ul class="list-unstyled">
            <li>
                <strong>Green:</strong> The letter is in the word and in the
                correct position.
            </li>
            <li>
                <strong>Yellow:</strong> The letter is in the word but in the
                wrong position.
            </li>
            <li><strong>Gray:</strong> The letter is not in the word.</li>
        </ul>
    </div>
</div>
